<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label class="label" data-bind="attr: {'for': getCode()}">
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div data-bind="if: isPaymentAvailable()">
            <form id="ecpay_payment_form">
                <fieldset class="fieldset payment method" id="payment_form_<?php echo $this->getMethodCode() ?>">
                    <div class="field required">
                        <select name="ecpay_choosen_payment"
                                class="validate-select validation-passed"
                                title="Ecpaypayment"
                                data-bind="
                                  options     : getPaymentMethods(),
                                  optionsValue: 'value',
                                  optionsText : 'payment_method',
                                  value       : paymentMethod">
                        </select>
                    </div>
                </fieldset>
            </form>
        </div>

        <div data-bind="ifnot: isPaymentAvailable()">
            <p data-bind="text: getPaymentMethodMsg()"></p>
        </div>

        <p></p>

        <div class="actions-toolbar" data-bind="if: isPaymentAvailable()">
            <div class="primary">
                <button class="button action primary checkout"
                        type="submit"
                        data-role="review-save"
                        data-bind="
                        click: checkoutToEcpay,
                        attr: {title: $t('Place Order')}
                        ">
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>